@model StudentRegistration.Models.Subject

@{
    ViewBag.Title = "AddStudent";
    Layout = null;
}



@using (Html.BeginForm("AddSubject", "Subject"))

{


    @Html.TextBoxFor(m => m.SubjectName, new { @class = "form-control", placeholder = "ClassName", required = true })


    @Html.HiddenFor(m => m.SubjectID)
    <button type="submit" value="Submit" class="btn btn-success">Submit</button>


}


