@model List<StudentRegistration.ViewModels.TeacherDto>
@{
    ViewBag.Title = "TeacherRecord";
}

<div id="emailDetailContent"></div>

<h2>Teacher Record</h2>

<a href="javascript:studentDetails('0')" class="stdDetail btn btn-success" data-id="0">Add Teacher</a>
<br />
<br />
<div id="divlist">
    @Html.Partial("_List", Model)
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Delete Teacher</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure to delete this?</h4>
                <div style="text-align:center; display:none" id="loaderDiv">
                    @*<img src="~/Content/Image/images (1).jpg" style="height:200px; width:200px" />*@
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" onclick="DeleteTeacher()">Confirm</a>
            </div>
        </div>
    </div>
    <input type="hidden" id="hiddenid" />
</div>

<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        $('#tablemodel').DataTable({});

        $(function () {
            $("#loaderbody").addClass('hide');


            $(document).bind('ajaxStart', function () {
                $("#loaderbody").removeClass('hide');
            }).bind('ajaxStop', function () {
                $("#loaderbody").addClass('hide');
            });
        });

        function GetList() {
            $.ajax({
                url: '/Teacher/GetList',
                success: function (data) {
                    $('#divlist').html(data);

                    $('#tablemodel').DataTable({});
                },
                error: function () {
                    alert("Data load failed.");
                }
            });

        }
        function studentDetails(rid) {
            $.ajax({
                type: "GET",
                url: '/Teacher/AddEditTeacher',
                contentType: "application/json; charset=utf-8",
                data: { "id": rid },
                datatype: "json",
                success: function (data) {
                    $('#emailDetailContent').html(data);
                    $('#ViewModal').modal('show');
                },
                error: function () {
                    alert("Data load failed.");
                }
            });

        }

        function studentProfile(rid) {
            $.ajax({
                type: "GET",
                url: '/Teacher/ProfileViewTeacher',
                contentType: "application/json; charset=utf-8",
                data: { "id": rid },
                datatype: "json",
                success: function (data) {
                    $('#emailDetailContent').html(data);
                    $('#ViewModal').modal('show');
                },
                error: function () {
                    alert("Data load failed.");
                }
            });

        }


        var ConfirmDelete = function (id) {
            $("#hiddenid").val(id);
            $("#myModal").modal('show');
        }

        var DeleteTeacher = function () {
            $("#loaderDiv").show();
            var stdid = $("#hiddenid").val();
            $.ajax({

                type: "POST",
                url: "/Teacher/Delete",
                data: { id: stdid },
                success: function (result) {
                    $("#loaderDiv").hide();
                    $("#myModal").modal("hide");

                    GetList();
                },
            })

        }
    </script>


}
